// Value Box for digits entered and total

.inputBox {
    background-color: #282929;
    border: 10px solid #d5d6d7;
    color: #ffffff;
    text-align: right;
    padding: 20px;
    font-size: 28px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}